* {
    box-sizing: border-box;
    background-color: #334756;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Playpen Sans', Verdana, sans-serif, cursive;
    margin: 0;
    padding: 50px;
    border: 15px inset #FF9B50;
}

.description {
    text-align: center;
}

.description img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 100px;
    border: 2px solid black;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
}

.card {
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    padding: 30px;
    max-width: 800px;
    border-radius: 30px;
    border: 10px inset #FF9B50;
}


.card-title {
    text-align: center;
}

.card:hover {
    border-color: grey;
}


#back-menu {
    color: #F0A500;
}

